body {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid #333;
}

#controls > * {
  margin-right: 1rem;
}

main, #main, header, #header, footer, #footer {
  width: 100%;
  max-width: 850px;
}

header, #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  margin-top: 80px;
}

#logo {
  border-radius: 5px;
  margin-right: 1.5rem;
}

nav a, #nav a {
  margin-right: 1.5rem;
  line-height: 38px;
}

main, #main {
  margin-bottom: 50px;
}

footer, #footer {
  position: absolute;
  bottom: 0;
  text-align: center;

  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.footer-spacer {
  margin-bottom: 50px;
}

.tippy-box[data-theme~='cownews'] {
  background-color: #db2106;
  color: white;
}

.tippy-box[data-theme~='cownews'] .tippy-arrow {
  color: #db2106;
}

section {
  margin-bottom: 2rem;
}

legend {
  font-size: 1em;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.joke {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.link-unstyled,
.link-unstyled:hover,
.link-unstyled:visited {
  color: inherit;
}

.newsletter {
  max-width: 500px;
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  margin-top: 2rem;
}

.example-bad .lorem {
  /*font-size: 1.2em;*/

  /* NOTE: Serif fonts are difficult to read on screens */
  /*font-family: "Times New Roman", Times, serif;*/

  /* NOTE: Justified text may be hard to read for some users */
  /*text-align: justify;*/
}

.example-bad .contrast {
  /* NOTE: Insufficient contrast ratio */
  color: #cacaca;
}

.example-bad .card-body :focus {
  /* NOTE: Do not remove the default focus ring globally */
  outline: none;
}

.example-good :focus {
  /* NOTE: You can keep the default browser outline, too */
  outline: 2px dashed #ff9421;
  outline-offset: 4px;
}

.example-good .card-title {
  font-size: 1.25rem;
}

.example-good .btn-primary {
  /* Why does Bootstrap use a bad contrast ratio by default? */
  background-color: #0072ed;
}

.layout-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-column h2 {
  margin: 2rem 0 1rem;
}

