body {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main, #main, header, #header, footer, #footer {
  width: 100%;
  max-width: 850px;
}

header, #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#logo {
  border-radius: 5px;
  margin-right: 1.5rem;
}

nav a, #nav a {
  margin-right: 1.5rem;
  line-height: 38px;
}

footer, #footer {
  position: absolute;
  bottom: 0;
  text-align: center;

  padding: 5px 0 15px;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.footer-spacer {
  margin-bottom: 50px;
}

section {
  margin-bottom: 2rem;
}

legend {
  font-size: 1em;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.joke {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.newsletter {
  max-width: 500px;
}

.example-bad .h1 {
  font-size: 2.5rem; font-weight: bold;
  margin-bottom: .5rem;
}

.example-bad .h2 {
  font-size: 2rem; font-weight: bold;
  margin-bottom: .5rem;
}

.example-bad .lorem {
  /*font-size: 1.2em;*/

  /* NOTE: Serif fonts are difficult to read on screens */
  /*font-family: "Times New Roman", Times, serif;*/

  /* NOTE: Justified text may be hard to read for some users */
  /*text-align: justify;*/
}

.example-bad .contrast {
  /* NOTE: Insufficient contrast ratio */
  color: #969696;
}

.example-bad .card-body :focus {
  /* NOTE: Do not remove the default focus ring globally */
  outline: none;
}

.example-good :focus {
  /* NOTE: You can keep the default browser outline, too */
  outline: 2px dashed #ff9421;
  outline-offset: 4px;
}

.example-good .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.example-good .btn-primary {
  /* Why does Bootstrap use a bad contrast ratio by default? */
  background-color: #0072ed;
}

.layout-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-column h2 {
  margin: 2rem 0 1rem;
}

